body {
  padding: 0;
  margin: 0;
  background: #ebebeb url("../img/background.png") repeat top left; }

.left {
  float: left; }

.full-width {
  width: 100%; }

.three-fourths {
  width: 75%; }

.half {
  width: 50%; }

.one-fourth {
  width: 25%; }

.site-container .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }
  .site-container .container .inner-container {
    padding: 1em;
    margin-bottom: 1em; }
    .site-container .container .inner-container.title {
      padding-top: 0;
      padding-bottom: 0; }
      .site-container .container .inner-container.title h1 {
        margin: 0; }
    .site-container .container .inner-container.background {
      background: #fff;
      background: rgba(255, 255, 255, 0.5); }
    .site-container .container .inner-container.shadow {
      border: 1px solid #ccc;
      border-width: 0 0 5px 0; }
.site-container .header-wrapper {
  width: 100%; }
  .site-container .header-wrapper .site-title {
    width: 100%; }
  .site-container .header-wrapper .menu-wrapper {
    width: 100%; }
    .site-container .header-wrapper .menu-wrapper ul.links {
      margin: 0 0 0 1em;
      padding: 0; }
      .site-container .header-wrapper .menu-wrapper ul.links li {
        display: inline-block;
        padding: .5em 1em .5em 0;
        margin-right: 1em;
        border-right: 1px solid #ccc; }
        .site-container .header-wrapper .menu-wrapper ul.links li:last-of-type {
          margin-right: 0;
          border: 0; }
        .site-container .header-wrapper .menu-wrapper ul.links li a {
          display: block;
          width: 100%;
          height: 100%; }
.site-container .tab-container {
  margin: 0 1em 1em 1em; }
  .site-container .tab-container ul.tabs {
    padding: 0;
    margin: 1em 0 0 0; }
    .site-container .tab-container ul.tabs li {
      display: inline-block;
      margin-right: .5em; }
      .site-container .tab-container ul.tabs li:last-of-type {
        margin: 0; }
.site-container .featured-photo {
  position: relative; }
  .site-container .featured-photo img {
    width: 100%; }
  .site-container .featured-photo .label {
    position: absolute;
    bottom: .5em;
    left: 0;
    padding: .5em 1em;
    background: #444;
    background: rgba(0, 0, 0, 0.75);
    color: #fff; }
.site-container .main-content .content {
  padding-left: 1em; }
  .site-container .main-content .content p:first-of-type {
    margin-top: 0; }
.site-container .footer-container {
  text-align: center; }
.site-container .region.left-column .block {
  position: relative; }
.site-container .region.left-column ul.photo-categories {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .site-container .region.left-column ul.photo-categories li {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    border-color: rgba(0, 0, 0, 0.6);
    padding: .25em;
    margin-bottom: 1em; }
    .site-container .region.left-column ul.photo-categories li:last-of-type {
      margin: 0; }
    .site-container .region.left-column ul.photo-categories li img {
      width: 100%; }
    .site-container .region.left-column ul.photo-categories li .label {
      position: absolute;
      bottom: 0;
      margin: 0;
      background: #000;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      padding: .5em 0; }
      .site-container .region.left-column ul.photo-categories li .label a {
        color: #fff;
        text-decoration: none;
        padding: 0 .5em;
        display: block; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*# sourceMappingURL=layout.css.map */
