$primary-color: #435743;
$light-color: #b1e9b7;
$light-grey: #fff;

.site-container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    background: #ebebeb;
    background: rgba(255,255,255,.8);
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.9);
    padding: 1em;
    &.no-bg{
        background: transparent;
    }
    &.no-border{
        border: 0;
    }
}

.container{
    width: 100%;
    .inner{
        padding: 1em;
    }
}

.one-fourth{
    width: 25%;
}

.one-half{
    width: 50%;
}

.three-fourths{
    width: 75%;
}

.left{
    float: left;
}

.site-title{
    font-size: 2em;
    p{
        margin-bottom: .5em;
    }
}

.tab-container{
    margin: 0 1em 1em 1em;
    ul.tabs{
        border: 0;
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            margin-right: .5em;
            &:last-of-type{
                margin: 0;
            }
        }
    }
}

.menu-container{
    padding: 1em 0;
    border-bottom: 1px solid $primary-color;
    ul.menu, ul.links{
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            margin-right: 1em;
            &:last-of-type{
                margin: 0;
            }
            a{
                text-decoration: none;
            }
        }
    }
}

.region{
    .inner{
    }
    &.left-column{
        .inner{
            background: rgba(0,0,0,.1);
            border: 1px solid $primary-color;
            margin: 1em 1em 1em 0;
            h3{
                margin-top: 0;
                .fa{
                    font-size: .8em;
                }
            }
        }
    }
}

ul.recent-posts{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
        border-bottom: 1px solid $light-grey;
        padding: .5em 0;
        &:first-of-type {
            border-top: 1px solid $light-grey;
        }
        a{
            text-decoration: none;
            color: $primary-color;
            margin-left: 1em;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.footer-container{
    border-top: 1px solid $primary-color;
}


// clearfix
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
