// import fonts
@import url(http://fonts.googleapis.com/css?family=Fenix|Righteous);

$primary-color: #30176a;

body{
    font-family: 'Fenix', serif;    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Righteous';
}

.element-invisible{
    display: none;
}

.site-title{
    font-family: 'Righteous';
    font-size: 3em;
    p{
        display: inline-block;
        margin: 0;
        color: #fff;    
        color: rgba(255,255,255,.75);
        width: auto;
        padding: .25em;
        border: 1px solid #fff;
        background: #000;
        background: rgba(0,0,0,.5);
    }
}

.tab-container{
    ul.tabs{
        border: 0;
        li{
            a{
                text-decoration: none;
                color: $primary-color;
                border: 1px solid $primary-color;
                padding: .25em .5em;
                top: 1px;
                &.active{
                    background: #fff;
                    background: rgba(0,0,0,.5);
                    color: #fff;
                    border: 1px solid #000;
                }
            }
        }
    }
}

.menu-container{
    ul.menu, ul.links{
        li{
            a{
                color: $primary-color;
                font-family: 'Righteous';
                text-transform: uppercase;
                text-decoration: none;
                &:hover{
                    color: lighten($primary-color, 25%);
                }
            }
        }
        
    }
}

.region{
    &.right-column{
        .more{
            font-size: .8em;
            text-transform: uppercase;
        }
    }
}

.footer-content{
    font-size: .7em;
}